.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hour {
    font-size: 30px;
    font-weight: 600;
  }
  &__bar {
    display: flex;
    justify-content: space-around;
    position: relative;
    color: #a8a8a8;
    padding-bottom: 10px;
    border-bottom: 1px #a8a8a8 solid;
    width: 80%;
    margin-top: 5rem;
    @media (max-width: 600px) {
      width: 90%;
    }
    &__button {
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      @media (max-width: 600px) {
        font-size: 10px;
      }

      &:hover {
        color: #4169e1;
      }
    }
    &__line {
      left: 0;
      position: absolute;
      height: 2px;
      width: 0;
      background: #000;
      bottom: 0px;
      transition: all 0.2s;
      border-radius: 4px;
    }
  }
}
.selected {
  color: #000;
  font-weight: 600;
  cursor: default;
  pointer-events: none;
  &:hover {
    color: black;
  }
}
.space {
  margin-bottom: 60px;
}
.events-none {
  pointer-events: none;
}
